.calendarEvent {
	border-radius:0.2em;
	-moz-border-radius: 0.2em;
    -webkit-border-radius:0.2em;
    
    box-shadow:0 1px 2px #888;
    
    background: #321;
	border: solid;
	border-width: 1px;
	border-color:#baddab;
    text-align:left;
    padding: .5em;
}

.calendarEvent + .calendarEvent {
	margin-top:1em;
}

.calendarEvent p {
	padding-bottom: .5em;
}
.calendarEvent .location {
	padding: 5px;
	padding-bottom: 7px;
}

.calendarEvent .cal-header {
	background: #000;
}

.calendarEvent .cal-body {
	color: #baddab;
}

.calendar, .eventList {
    padding:0px 1em;
    display:inline-block;
}

.eventList {
	width:30%;
}

.calendar {
	display: inline-block;
	vertical-align: top;
    height:150%;
    width:60%;
}