.calendarEvent {
	background: #543;
	border: solid;
	border-width: 2px;
	border-color:#baddab;
    -moz-border-radius: 0.6em;
    -webkit-border-radius:0.6em;
    border-radius:0.6em;
    margin: .5em;
}
.calendarEvent p {
	padding-bottom: .5em;
}
.calendarEvent .time, .calendarEvent .title {
	padding:5px;
    display:inline-block;
    text-align:left;
}
.calendarEvent .time {
    padding-right: 1.5em;
}

.calendarEvent .location,
.calendarEvent .description {
    text-align:center;
}

.calendarEvent .location {
    padding: 5px;
    padding-bottom: 7px;
}

.calendarEvent hr {
	clear:both;
	color: #baddab;
	background-color: #baddab;
	border-color: #baddab;
}

.calendar, .eventList {
    margin:0px;
    padding:0px;
    display:inline-block;
}

.eventList{
	margin-right:1em;
	float:left;
	width:40%;
}

.calendar {
	margin-left:1em;
    height:150%;
    width:56%;
}
