/* Page content Interior Div */

.page_body {
    min-height:21em;
    height:100%;
  	display: inline-block;
}

.page_body p {
	margin-bottom: 1em
}

.page_content {
	width:80%;
	margin:1em;
	padding:1em 0em 0em 0em;
}

.titledSection {
	padding: 1em;
}

.titledSection .title {
	font-style:italic;
	color: #98bb89;
	font:bolder;
    margin-bottom: 1em;
}

.titledSection .sectionbody {
	position:relative;
	margin-left: 3em;
}

/* WHAT I DO STYLE */
.ido {
	display:inline-block;
	clear:both;
	overflow:visible;
	padding:.25em;
}

.ido img {margin-top:0;margin-bottom:0;}

.ido p {
	position:relative;
	vertical-align:middle;
	height:100%;
	margin-top:2.5em;
}

/* END WHAT I DO STYLE */


/* ABOUT ME STYLE */
.aboutme p {
	display:block; 
}

#content .aboutme img {
	width:175px;
	height:200px;
	float:left;
	margin:0 1em 1em 0;
	padding:0;
}

/* END ABOUT ME STYLE */

/* TESTIMONIAL STYLE */

.testimonial {margin-top:2em;}
.testimonial p {margin:0;}

.testimonial .author {clear:both;}
.testimonial .authorname {}
.testimonial .authortitle {padding-left:1em;}

.testimonial.left {text-align:left;}
.testimonial.left .author {text-align:right;}

.testimonial.right {text-align:right;}
.testimonial.right .author {text-align:left;}

/* END TESTIMONIAL STYLE */