
html {

	background-image: url('../images/PPK9DemoLarge.jpg');
    background-repeat: no-repeat;
}

html * {
    margin: 0 auto;
}

body {
	width:60em;
}


#content {
	background: #543;
	height:40em;
    margin: 0;
    padding:0;	
    overflow:visible;

}

.transparent {
	
}
